* {
  margin: 0px;
  padding: 0px;
}
body{
  background: url(assets/bg-mobile-light.jpg) no-repeat top center/cover;
}
body *{
  font-family: Arial, Helvetica, sans-serif;
}
#container {
  width: 360px;
  margin: 56px auto 0;  
}
#perfil{
  padding: 24px;
  text-align: center;
}
#perfil img{
  width: 112px;
}
#perfil p{
  margin-top: 8px;
  font-weight: 700;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 8px;
  background: rgb(255, 255, 255, 0.5);
  text-decoration: none;
  color: black;
}